/*FOOTER START///////////////////*/

.footer {
    padding: 50px 0 20px 0;
    background: linear-gradient(135deg, rgba(242,243,244,.75) 0%, rgba(255,255,255,.5) 56%, rgba(245,245,245,.25) 100%)
    /* color: #878c94; */
}
.footer .title{text-align: left;color:#026f52;font-size:2rem;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    /*float: left;
    font-size: 25px;
    /*padding: 10px 10px;*/
}
